/* Maps */
/* Variable */
/* Extend */
.span-min, .span-mayus {
  display: block;
  font-size: 24px;
  line-height: normal;
  color: #f5f5f5;
  font-family: "HelveticaNow";
}

/* HEADER */
header {
  background-color: black !important;
}
header nav {
  font-family: "HelveticaNow";
  font-size: 24px;
  text-decoration: none;
  text-transform: uppercase;
  color: #f5f5f5 !important;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background-color: black;
  padding: 32px;
}
header nav .navbar {
  align-items: flex-end !important;
}
header nav .navbar-brand img {
  width: 210px;
}
header nav ul li {
  color: #f5f5f5;
}
header nav ul a {
  color: #f5f5f5 !important;
  font-family: "HelveticaNow";
}
header nav ul a:hover {
  color: aquamarine !important;
  text-decoration: underline;
}
header .destacado1 {
  color: #f5f5f5;
  font-family: "HelveticaNow";
  font-weight: lighter;
  margin: 0.2em 0 0.2em 0;
  font-size: 2em;
  text-transform: uppercase;
  display: block;
  line-height: normal;
}
header .destacado2 {
  font-size: 3.5em;
  margin: 0;
  text-transform: uppercase;
  color: aquamarine;
  width: 100%;
  line-height: normal;
  display: flex;
  font-family: "Ortica";
}
header .FotoInicio {
  width: 100%;
  margin-top: 35px;
  flex-direction: row;
  justify-content: flex-end;
}
header .FotoInicio img {
  width: 280px;
}

/* FOOTER */
footer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  padding-bottom: 32px !important;
}
footer .grilla-tercios {
  padding: 0 32px;
}
footer .grilla-tercios .colum1 {
  flex-direction: column;
  justify-content: left;
  padding-top: 16px;
}
footer .grilla-tercios .colum2 {
  flex-direction: column;
  justify-content: center;
  padding-top: 16px;
}
footer .grilla-tercios .redes-sociales {
  font-size: 50px;
  text-decoration: none;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  padding-top: 16px;
}
footer .grilla-tercios .redes-sociales .icons-footer {
  flex-direction: row;
  justify-content: flex-start;
}
footer .p-footer {
  font-family: "Ortica";
  font-size: 32px;
  color: aquamarine;
}

.bottom {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  width: 100%;
  word-spacing: 3px;
  padding: 0 32px;
}
.bottom p {
  padding-left: 0;
}
.bottom .arrow-icon-footer {
  flex-direction: row;
  justify-content: flex-end;
  font-size: 2em;
  text-decoration: none;
  align-items: flex-end;
  display: flex;
  width: 25%;
}

/* Content */
main .background-2-white {
  background-image: url("../Images/background-white.jpg");
  padding: 32px;
}
main .background-2-white .ImgPorfolio article {
  margin-bottom: 50px;
}
main .background-2-white .ImgPorfolio iframe {
  width: 100%;
  min-height: 250px;
}
main .background-3-black {
  background-image: url("../Images/background-black.jpg");
  padding: 32px;
  color: #f5f5f5;
}
main .background-3-black .manif-img img {
  width: 200px;
  height: 200px;
}
main .background-3-black .grid-contac {
  display: grid;
  grid-template-rows: 1f;
}
main .background-3-black .grilla-servicios {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}
main .form input[type=text],
main .form [type=email] {
  font-family: "HelveticaNow";
  width: 75%;
  height: 100px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid white;
  font-size: 32px;
  display: block;
}
main .form .textarea {
  font-family: "HelveticaNow";
  width: 75%;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid white;
  font-size: 32px;
  resize: none;
  margin: 20px 0;
  display: block;
}
main .background-2-white p,
main .background-2-white h2 {
  color: #000000;
}
main .navbar-nav {
  align-items: flex-end;
}
main .dropdown-item:hover {
  background-color: transparent;
}
main .icono-servicios {
  font-size: 64px;
  font-family: "Ortica";
  padding-bottom: 0.2em;
  border-bottom: solid 1px darkslategray;
}
main .tarjeta {
  padding: 30px;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  border-radius: 15px;
  min-height: 30em;
  min-width: 21em;
}
main .icono-servicios img {
  width: 1.15em;
  height: 1.1em;
  margin: 0.2em 0 0.2em 0;
}

button {
  border: 0px;
}

.img-404 img {
  width: 40%;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ESTILOS GENERALES */
html {
  scroll-behavior: smooth;
}

h1 {
  color: #f5f5f5;
  font-family: "HelveticaNow";
  text-transform: uppercase;
  font-size: 40px;
  margin: 0.2em 0 0.2em 0;
  font-weight: normal;
}

h2 {
  color: #f5f5f5;
  font-family: "HelveticaNow";
  text-transform: uppercase;
  font-size: 9em;
  font-weight: lighter;
  margin: 0.2em 0 0.2em 0;
}

h3 {
  font-size: 64px;
  font-family: "Ortica";
  font-weight: lighter;
  margin: 0.2em 0 0.2em 0;
}

p {
  color: #f5f5f5;
  font-family: "HelveticaNow";
  font-size: 18px;
  margin-bottom: 0;
}

a {
  color: aquamarine;
  text-decoration: none;
  font-family: "HelveticaNow";
}

i {
  padding-right: 10px;
}

.background-1 {
  background-image: url("../Images/background-black.jpg");
}

.background-2 {
  background-image: url("../Images/fondo-pagina.jpg");
}

.grilla-tercios {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: start;
  align-items: start;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.boton {
  background-image: linear-gradient(to right, #1cd8d2 0%, #93edc7 51%, #1cd8d2 100%);
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: inline-block;
}
.boton:hover {
  border-radius: 30px;
  background-position: right center;
}

.span-mayus {
  text-transform: uppercase;
  font-size: 2em;
  margin: 50px 0 15px 0;
}

#loading {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #000;
  z-index: 1500;
}

#loading-image {
  z-index: 1501;
}

.span-min {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.sobre-mi {
  padding: 150px 0 50px 0;
}

.sobre-mi2 {
  padding: 50px 0 150px 0;
}

.proyectos-nro {
  display: block;
  font-size: 32px;
  font-family: "Ortica";
}

.row {
  --bs-gutter-x: 0;
}

.container-fluid {
  padding-left: 0;
}

.arrow-icon {
  flex-direction: column;
  justify-content: flex-start;
  text-decoration: none;
  align-items: flex-end;
  display: flex;
  transition: all 0.2s ease-in-out;
}
.arrow-icon a img {
  filter: invert(1);
  width: 100px;
  transition: all 0.2s ease-in-out;
}
.arrow-icon a img:hover {
  transform: rotate(45deg);
}

.container {
  margin-left: 0;
  margin-top: 60px;
  padding: 64px 0 64px 32px;
}

/* FUENTES */
@font-face {
  font-family: "HelveticaNow";
  src: url("../Fuentes/HelveticaNowDisplay-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Ortica";
  src: url("../Fuentes/Ortica-Light.otf") format("opentype");
}
/* Media Query */
/* L a XL */
@media only screen and (min-width: 992px) and (max-width: 1399px) {
  header nav {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    margin: 0;
  }
  header nav .navbar-brand img {
    width: 120px;
  }
  header nav a {
    padding-left: 0;
  }
  header ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
  }
  header .FotoInicio {
    margin-top: 35px;
    text-align: left !important;
  }
  header .destacado2 {
    font-size: 3em;
  }

  h2 {
    font-size: 3em;
  }
}
/* Tablet */
@media only screen and (min-width: 680px) and (max-width: 991px) {
  header nav {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    margin: 0;
  }
  header nav .navbar-brand img {
    width: 120px;
  }
  header nav a {
    padding-left: 0;
  }
  header ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
  }
  header .FotoInicio {
    margin-top: 35px;
    text-align: left !important;
  }
  header .FotoInicio img {
    width: 150px;
  }
  header .destacado2 {
    font-size: 2.5em;
  }

  h2 {
    font-size: 6em;
  }

  .tarjeta {
    min-width: 18em !important;
  }
}
/* Media Query */
/* Mobile */
@media only screen and (max-width: 679px) {
  header nav {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    margin: 0;
  }
  header nav .navbar-brand a img {
    width: 120px;
  }
  header nav a {
    padding-left: 0;
  }
  header .navbar-nav {
    align-items: flex-start;
  }
  header ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
  }
  header .FotoInicio {
    margin-top: 35px;
  }
  header .FotoInicio img {
    width: 150px;
  }
  header .destacado1 {
    font-size: 24px;
  }
  header .destacado2 {
    font-size: 1.2em;
  }

  .section-1 {
    padding-top: 3em;
    flex-direction: column;
  }

  .big-text {
    max-width: 100%;
  }

  .span-mayus {
    width: 100%;
    font-size: 1.5em;
  }

  .tarjeta {
    min-width: 18em !important;
  }

  .span-min {
    width: 100%;
    font-size: 1.5em;
  }

  h2 {
    font-size: 3em;
  }

  h3 {
    font-size: 48px;
  }

  footer .grilla-tercios {
    grid-template-columns: auto;
  }

  .boton {
    padding: 7px 22px;
    border-radius: 10px;
    display: inline-block;
  }
  .boton:hover {
    border-radius: 30px;
  }

  input[type=text],
input[type=email] {
    font-size: 20px !important;
    width: 100% !important;
  }

  .textarea {
    font-size: 20px !important;
    width: 100% !important;
  }
}

/*# sourceMappingURL=style.css.map */
