@use "sass:map";
@import "base/variables";
@import "base/mixins";
@import "components/header";
@import "components/footer";
@import "components/content";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ESTILOS GENERALES */

html {
    scroll-behavior: smooth;
}

h1 {
    color: map.get($colores, "blanco");
    font-family: $fuenteprincipal;
    text-transform: uppercase;
    font-size: 40px;
    margin: 0.2em 0 0.2em 0;
    font-weight: normal;
}

h2 {
    color: map.get($colores, "blanco");
    font-family: $fuenteprincipal;
    text-transform: uppercase;
    font-size: 9em;
    font-weight: lighter;
    margin: 0.2em 0 0.2em 0;
}

h3 {
    font-size: 64px;
    font-family: "Ortica";
    font-weight: lighter;
    margin: 0.2em 0 0.2em 0;
}

p {
    color: map.get($colores, "blanco");
    font-family: $fuenteprincipal;
    font-size: 18px;
    margin-bottom: 0;
}

a {
    color: map.get($colores, "verde");
    text-decoration: none;
    font-family: $fuenteprincipal;
}

i {
    padding-right: 10px;
}

.background-1 {
    background-image: url("../Images/background-black.jpg");
}

.background-2 {
    background-image: url("../Images/fondo-pagina.jpg");
}

.grilla-tercios {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: start;
    align-items: start;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.boton {
    background-image: linear-gradient(to right, #1cd8d2 0%, #93edc7 51%, #1cd8d2 100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: inline-block;
    &:hover {
        border-radius: 30px;
        background-position: right center;
    }
}

.span-mayus {
    @extend %spans;
    text-transform: uppercase;
    font-size: 2em;
    margin: 50px 0 15px 0;
}

#loading {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #000;
    z-index: 1500;
}

#loading-image {
    z-index: 1501;
}

.span-min {
    @extend %spans;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.sobre-mi {
    padding: 150px 0 50px 0;
}

.sobre-mi2 {
    padding: 50px 0 150px 0;
}

.proyectos-nro {
    display: block;
    font-size: 32px;
    font-family: "Ortica";
}

.row {
    --bs-gutter-x: 0;
}

.container-fluid {
    padding-left: 0;
}

.arrow-icon {
    flex-direction: column;
    justify-content: flex-start;
    text-decoration: none;
    align-items: flex-end;
    display: flex;
    transition: all 0.2s ease-in-out;
    a {
        img {
            filter: invert(1);
            width: 100px;
            transition: all 0.2s ease-in-out;
            &:hover {
                transform: rotate(45deg);
            }
        }
    }
}

.container {
    margin-left: 0;
    margin-top: 60px;
    padding: 64px 0 64px 32px;
}

/* FUENTES */

@font-face {
    font-family: $fuenteprincipal;
    src: url("../Fuentes/HelveticaNowDisplay-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Ortica";
    src: url("../Fuentes/Ortica-Light.otf") format("opentype");
}

@import "components/mediaquery";
