@use "sass:map";

/* Content */

main {
    .background-2-white {
        background-image: url("../Images/background-white.jpg");
        padding: 32px;
        .ImgPorfolio {
            article {
                margin-bottom: 50px;
            }
            iframe {
                width: 100%;
                min-height: 250px;
            }
        }
    }
    .background-3-black {
        background-image: url("../Images/background-black.jpg");
        padding: 32px;
        color: map.get($colores, "blanco");
        .manif-img {
            img {
                width: 200px;
                height: 200px;
            }
        }
        .grid-contac {
            display: grid;
            grid-template-rows: 1f;
        }
        .grilla-servicios {
            grid-column-gap: 20px;
            grid-row-gap: 20px;
        }
    }
    .form {
        input[type="text"],
        [type="email"] {
            font-family: $fuenteprincipal;
            width: 75%;
            height: 100px;
            background-color: transparent;
            border: none;
            border-bottom: 2px solid white;
            font-size: 32px;
            display: block;
        }
        .textarea {
            font-family: $fuenteprincipal;
            width: 75%;
            background-color: transparent;
            border: none;
            border-bottom: 2px solid white;
            font-size: 32px;
            resize: none;
            margin: 20px 0;
            display: block;
        }
    }
    .background-2-white p,
    .background-2-white h2 {
        color: map.get($colores, "negro");
    }
    .navbar-nav {
        align-items: flex-end;
    }
    .dropdown-item:hover {
        background-color: transparent;
    }
    .icono-servicios {
        font-size: 64px;
        font-family: "Ortica";
        padding-bottom: 0.2em;
        border-bottom: solid 1px darkslategray;
    }
    .tarjeta {
        padding: 30px;
        box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
        -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
        border-radius: 15px;
        min-height: 30em;
        min-width: 21em;
    }
    .icono-servicios img {
        width: 1.15em;
        height: 1.1em;
        margin: 0.2em 0 0.2em 0;
    }
}

button {
    border: 0px;
}

//404
.img-404 img {
    width: 40%;
}

// ANIMACIONES
%fade-in-text {
    animation: fadeIn linear 1s;
    -webkit-animation: fadeIn linear 1s;
    -moz-animation: fadeIn linear 1s;
    -o-animation: fadeIn linear 1s;
    -ms-animation: fadeIn linear 1s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
