/* Media Query */

// XXL

@media only screen and (min-width: 1400px) {
    .container{
        max-width: 100%;
    }
}

/* L a XL */

@media only screen and (min-width: 992px) and (max-width: 1399px) {
    header {
        nav {
            display: flex;
            flex-direction: column;
            font-size: 20px;
            margin: 0;
            .navbar-brand {
                img {
                    width: 120px;
                }
            }
        }
        nav a {
            padding-left: 0;
        }
        ul {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 20px;
        }
        .FotoInicio {
            margin-top: 35px;
            text-align: left !important;
        }
        .destacado2 {
            font-size: 3em;
        }
    }
    h2 {
        font-size: 3em;
    }
}

/* Tablet */

@media only screen and (min-width: 680px) and (max-width: 991px) {
    header {
        nav {
            display: flex;
            flex-direction: column;
            font-size: 20px;
            margin: 0;
            .navbar-brand {
                img {
                    width: 120px;
                }
            }
        }
        nav a {
            padding-left: 0;
        }
        ul {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 20px;
        }
        .FotoInicio {
            margin-top: 35px;
            text-align: left !important;
        }
        .FotoInicio img {
            width: 150px;
        }
        .destacado2 {
            font-size: 2.5em;
        }
    }
    h2 {
        font-size: 6em;
    }
    .tarjeta {
        min-width: 18em !important;
    }
}

/* Media Query */

/* Mobile */

@media only screen and (max-width: 679px) {
    header {
        nav {
            display: flex;
            flex-direction: column;
            font-size: 20px;
            margin: 0;
            .navbar-brand {
                a {
                    img {
                        width: 120px;
                    }
                }
            }
        }
        nav a {
            padding-left: 0;
        }
        .navbar-nav {
            align-items: flex-start;
        }
        ul {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 20px;
        }
        .FotoInicio {
            margin-top: 35px;
        }
        .FotoInicio img {
            width: 150px;
        }
        .destacado1 {
            font-size: 24px;
        }
        .destacado2 {
            font-size: 1.2em;
        }
    }
    .section-1 {
        padding-top: 3em;
        flex-direction: column;
    }
    .big-text {
        max-width: 100%;
    }
    .span-mayus {
        width: 100%;
        font-size: 1.5em;
    }
    .tarjeta {
        min-width: 18em  !important;
    }
    .span-min {
        width: 100%;
        font-size: 1.5em;
    }
    h2 {
        font-size: 3em;
    }
    h3 {
        font-size: 48px;
    }
    footer .grilla-tercios {
        grid-template-columns: auto;
    }
    .boton {
        padding: 7px 22px;
        border-radius: 10px;
        display: inline-block;
        &:hover {
            border-radius: 30px;
        }
    }
    input[type="text"],
    input[type="email"] {
        font-size: 20px !important;
        width: 100% !important;
    }
    .textarea {
        font-size: 20px !important;
        width: 100% !important;
    }
}
